{%  extends 'school/main.html' %}

{% block content %}

<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="sidebar one_quarter first"> 
      <!-- ################################################################################################ -->
              <article>
          <img src="../images/22yrs.jpg" alt=""></a>
          <p>Bright Stars High School is 22 years Old, and is happy to be producing stars that are shinig so bright globallly yearly. We are proud to say that we are still maintaining the same quality of education that has been trusted over the years and even advanced technologically.
          
        </article>
      <h6>Physical Address</h6>
      
      <div class="sdb_holder">
        <address>
        114 Fonteyn Road<br>
        Mbabane<br>
        Swaziland<br>
    H100<br>
        <br>
        Tel: +(268) 2404 3859 <br>
        Our Email Address: <a href="#">Bright Starshigh@gmail.com</a>
        </address>
      </div>
      <div class="sdb_holder">

      </div>
      <!-- ################################################################################################ -->
    </div>
    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <div class="content three_quarter"> 
      <!-- ################################################################################################ -->
      <h1>The History Of Bright Stars</h1>

      <p>Bright Stars High School was established in 1996 to offer independent quality education to children mainly from Bright Stars Primary. The Primary School parents pleaded with the School Committee to consider offering high school education, instead of having to send their children elsewhere.<br>
      <br>
		Through Mary Fraser and the School Committee's hard work the vision of the high school was developed and the first Form One classes were opened in 1996. The school pioneered and established the IGCSE and HIGCSE syllabus in the Kingdom, which has made a great contribution to the current education offered in Swaziland.<br>
		<br>
		<img src="../images/b2.jpg" alt=""></a>
		<br>
		    <br>
		The Swaziland Ministry of Education & Training has relied on Bright Stars High School and its staff as a point of reference, a resource and a model for other schools in the Kingdom.
		Bright Stars High School IGCSE and HIGCSE graduates have successfully proceeded to complete tertiary education and are now leaders in various industries locally and internationally. HIGCSE was discontinued by Cambridge in 2010, so the school now offers AS Level instead.</p>


    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->



{% endblock %}
