{%  extends 'school/main.html' %}

{% block content %}

		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Report Card</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Student ID</th>
							<th>Student Name</th>
							<th>Assessment 1</th>
							<th>Assessment 2</th>
							<th>Assessment 3</th>
							<th>Final Grade</th>
							<th>Comments</th>
						</tr>
						
					</table>
				</div>
			</div>
			
		</div>

{% endblock content %}