{%  extends 'school/user_main.html' %}

{% block content %}

  <div class="wrapper row3">
  <main class="hoc container clear"> 


<br>
<div class="row">
	<div class="col">
		<div class="card card-body">

			<form method="get">
				{{myFilter.form}}

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

		</div>
	</div>
	
</div>
<br>


<br>




	<div class="col-md-7">
		<h5>ADD NEW STUDENT INFORMATION</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'create_student_profile' %}">Add Student</a>
			<table class="table table-sm">
				<tr>
					<th>Username</th>
					<th>Student ID</th>
					<th>First Name</th>
					<th>Second Name</th>
					<th>Date Of Birth</th>
					<th>Nationality</th>
					<th>Grade and Class</th>
				</tr>

				{% for i in studentprofiles %}
					<tr>
						<td>{{i.user}}</td>
						<td>{{i.student_id}}</td>
						<td>{{i.first_name}}</td>
						<td>{{i.second_name}}</td>
						<td>{{i.date_of_birth}}</td>
						<td>{{i.nationality}}</td>
						<td>{{i.grade_and_class}}</td>
					</tr>

				{% endfor %}
		
			</table>
		</div>
	</div>
	</div>
</div>
</main>
</div>

{% endblock %}