{% extends 'school/user_main.html' %}

{% block content %}

<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->

    <article class="one_third first">
      <h4 class="font-x2 font-x3">Our Latest News & Events</h4>
      <p class="btmspace-30"> <b><h1>BRIGHT STARS COVID19 PREPAREDNESS </h1></font color></b>- BRIGHT STARS wants to alert the public and all it's stakeholders that since the opening of schools as of the 6th of July as per the Ministry of Education, has put in place all measures in preparing for the learners return, following all COVID19 regulations. We also want to make known that no Sifundzani stakeholder has tested positive to the CORONA VIRUS and we are committed to keeping it that way. Thank you.<a href="pages/COVID19-UPDATE.html"> Continue Reading &raquo;</a>
      
    </article>
    <article class="one_third"><a href="#"><img class="btmspace-30" src="../images/s7.jpg" alt=""></a>
      <h4 class="heading">ADMISSIONS FOR 2021 ARE OPEN! </h4>
      <p>It is that time of the year where the school opens applications to the public. Applicants are invited get their forms at the schools reception desk, return dates of applications start form the 2nd of July 2020. All the best to all applicants. <a href="pages/News.html"></a></p>
    </article>
    <article class="one_third"><a href="#"><img class="btmspace-30" src="../images/s11.jpg" alt=""></a>
      <h4 class="heading">WE ARE READY FOR CLASSES</h4>
      <p>Our Annual Music Concert was held on the 24th of June 2018, and the students work really hard to prepare for their performances for showcasing their talents. Our learners are talented in playing musical instruments and vocal performances.
    </article>
        <!-- ################################################################################################ -->    <!-- ################################################################################################ -->    <!-- ################################################################################################ -->
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded overlay" style="background-image:url('../images/b4.jpg');">
  <article class="hoc container"> 
    <!-- ################################################################################################ -->
    <div class="group btmspace-30">
      <div class="fl_left">
        <p class="nospace font-xs">BRIGHT STARS TAKES PRIDE IN:</p>
        <h3 class="heading">EDUCATION & EXPERIENCE</h3>
      </div>
    </div>


    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="btmspace-50 center">
       
    </div>
    <ul class="nospace group">
      <li class="one_third first">
        <article class="excerpt"><a href="#"><img src="../images/s1.jpg" alt=""></a>
          <div class="excerpttxt">
            <h4 class="heading font-x1"><b>ALUMNI</b></h4>
            <p>Our school has produced wonderful graduates and we are proud to call them BRIGHT STARS ALUMNI  that are raising our flag up so high. The school has now hosted a dinner honouring former sudents.</p>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article class="excerpt"><a href="#"><img src="../images/s3.jpg" alt=""></a>
          <div class="excerpttxt">
            <h6 class="heading font-x1"><b>CLUBS</b></h6>
            <p>Our school promotes diversity in the sense that we have international learners from different countries , as well as embracing different cultures altogether.</p>
          </div>
        </article>
      </li>
      <li class="one_third">
        <article class="excerpt"><a href="#"><img src="../images/s5.jpeg" alt=""></a>
          <div class="excerpttxt">
            <h6 class="heading font-x1"><b>SPORTS</b></h6>
            <p>BRIGHT STARS has prospective learners, students that are high visioned, success driven learners. It is our job to nurture their dreams and set them off to life.</p>
          </div>
        </article>
      </li>
    </ul>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <section class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="three_quarter first">

    </div>
    <!-- ################################################################################################ -->
  </section>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ####################################################################################


{% endblock %}


